<div class="scrollable">
    <div class="scrollable-content section" ng-controller="ScoreController3">
        <div ng-hide="user" class="text-center">
            <a href="#overlay-login" toggle="on" class="btn btn-standard"><i class="fa fa-sign-in"></i> Sign in / Register</a>
        </div>
        <div ng-if="user">
            <div class="list-group">
                <div class="list-group-item">
                    <div class="text-center">
                        <a class="btn btn-info" href="#overlay-new-play" toggle="on">Start New Game</a>
                    </div>
                </div>
                <div class="list-group-item">
                        Games: 
                </div>
                <div ng-hide="playCount" class="list-group-item">
                    <div class="text-center">
                        <span class="btn btn-default" disabled="disabled">None</span>
                    </div>
                </div>
                <div class="list-group-item" ng-repeat="play in playsToShow">
                    <a href="#/plays/{{play.$id}}/details" class="text-capitalize">
                    {{play.gameName}}<br />
                        <span class="btn btn-xs btn-default" disabled="disabled"><small>{{play.time}}</small></span>
                    <div class="pull-right">
                        <i class="fa fa-users"></i> x{{play.numberOfPlayers}}&nbsp;&nbsp;&nbsp;<i class="fa fa-chevron-right"></i>
                    </div>
                </a>
                </div>
            </div>
        </div>

        <!-- OVERLAYS -->
        <div overlay="overlay-new-play">
            <div class="panel panel-success">
                <div class="panel-heading">Play new game</div>
                <div class="panel-body">
                        <form class="form-inline" role="form" ng-submit="addPlay()">
                        <input type='text' ng-model='gameName' id='gameName' placeholder='Game Name' class="form-control">
                        <button type="submit" class="btn btn-primary form-control" toggle="off" bubble target="overlay-new-play">Add</button>
                        </form>
                </div>
            </div>
        </div>
        <!-- PAGE SPECIFIC CONTENT - TITLE/ACTION/SIDEBAR/FOOTER -->
        <div content-for="title">
            <span>Game Select</span>
        </div>
        <div content-for="footerBar">
        <a ng-click="toggle('mainSidebar')" class="btn btn-navbar sidebar-toggle"><i class="fa fa-bars"></i></a>
        
            <a class="btn btn-navbar pull-left" onClick="history.go(-1)"><i class="fa fa-chevron-left"></i></a>
            <a onClick="location.reload();" class="btn btn-navbar"><i class="fa fa-refresh"></i></a>
        </div>


    </div>
</div>
